.logo {
    width: 100px;
    height: 100px;
}

.bg-blue {
    background-color: #333566;
}

.underline {
    text-decoration: none;
}

.logoImagen{
    display: flex;
    flex-direction: row;
    align-items: center;
}